@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Fascinate+Inline&family=Genos:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor01: #c39353;
  --cor02: #2e6373ca;
  --cor03: #32374b;

  --fonte-destaque: "Fascinate Inline", system-ui;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.196), var(--cor02));
}

h1 {
  font-family: var(--fonte-destaque);
}

.container {
  text-align: center;
}

.card {
  width: 250px; /* Tamanho de uma carta de baralho */
  height: 350px;
  background-color: white;
  border: 6px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 5px 5px 3px black;
}

.suit {
  font-size: 1.5rem;
  font-family: var(--fonte-destaque);
}

.name {
  font-size: 5rem;
  font-family: var(--fonte-destaque);
}

.card-image {
  width: 60%; 
  max-height: 80%;
}

.additional-text {
  margin-top: 10px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: var(--fonte-destaque);
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px; /* Adiciona um espaço entre os botões */
  background-color: rgba(0, 128, 0, 0);
  border: none;
}

button::before {
  content: "[ ";
  font-size: 1.5em;
}

button::after {
  content: " ]";
  font-size: 1.5em;
}

button:hover {
  color: var(--cor01);
  text-shadow: 2px 2px 5px white;
  transition: 0.5s;
}

button:active {
  transform: translateY(6px);
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -40px; 
}

.name-container img {  
  width: 70%;
  margin-bottom: 0;
}

.chapeu {
  position: relative;
  z-index: 2;
}

.coringa-image {
  width: 100%;
  height: 100%;
}

/* Estilizando a imagem de abertura */
img[src='./imagens/abertura.png'] {
  width: 100%; 
}